
body {
    background-image: url("../img/burgers.jpg")

}

.title {
    text-align: center;
    background-color: #161616;
    border: 2px solid red;
    border-radius: 25px;
    color: red;
    margin: auto;
    width: 70%;
    padding: 10px;
    font-size: 3vw;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 2vw;
}

.titleCard {
    border: 2px soild red;

}

.subtitle {
    font-size: 1vw;
}

.notdevoured {
    border: 3px soild green;
}


.label {
  font-weight: bold;
}


.order {
    text-align: center;
    margin: auto;

}

.cardStyle {
    background: black;
}

button {
    background: red;
    border-radius: 25px;
    font-size: 2vw;
    width: 70%;
}

